<h1>Listing Creation</h1>
        <div id="error">
            {{#if error}}
            <p>{{error}}</p>
            {{else}}
            <p></p>
            {{/if}}
        </div>
        <div>
            <form method="POST" id="listing-form" action="">

                <label for="listingTypeInput">Listing type:</label>
                <select id="listingTypeInput" name="listingTypeInput" required>
                    <option value="">Select a state</option>
                    <option value="Buy">Buying</option>
                    <option value="Sell">Selling</option>
                </select>

                <label for="TitleInput">Listing Title:</label>
                <input id="TitleInput" type="text" name="TitleInput"><br>

                <label for="conditionInput">Listing's Condition:</label>
                <input id="conditionInput" type="text" name="conditionInput"><br>
                
                <label for="priceInput">Price:</label>
                <input id="priceInput" type="number" name="priceInput"><br>

                <label for="shippingPriceInput">Shipping Price:</label>
                <input id="shippingPriceInput" type="number" name="shippingPriceInput"><br>
                
                <label for="descriptionInput">Description:</label>
                <textarea id="descriptionInput" type="text" name="descriptionInput"></textarea><br>

                <label for="returnPolicyInput">Return Policy:</label>
                <textarea id="returnPolicyInput" type="text" name="returnPolicyInput"></textarea><br>

                <label for="imageInput">Submit images here:</label>
                <input type="file" id="imageInput" name="imageInput" multiple><br><br>

                <button type="submit">Register</button>
            </form>
        </div>
        <script src="../public/js/listingCheck.js"></script>