<h1>Welcome to Joystick Junction - A Gaming Marketplace</h1>
    <p>
        Welcome to Joystick Junction!
    </p>
    <p>Joystick Junction is a Gaming Market place where people can creating listings for games they are looking to sell or even games they are looking to purchase.</p>
    <p>When a User creates a listing, they will need to input the game they're creating a listing for to pull data in from Price Charting to get the average data for the game from online.</p>
    <p>The user will then need to put in the Price Charting ID that matches their listing the most, this will be used later to ensure integrity and fair pricing on the listing.</p>
    <p>Users will then be able to buy items or make trade offers with other users to purchase listings.</p>
    <p>Users will also be able to review the people they purchase or sell too and a copy of these transactions will be stored in your account information.</p>
    <a href="/logout">Click here to logout</a>
    