<h1>User login</h1>
        <div id="error">
            <p></p>
        </div>
        <div>
            <form action="/login" method="POST" id="login-form">
                <label for="usernameInput">Enter Your Username:</label>
                <input id="usernameInput" type="text" name="usernameInput" ><br>
                <label for="passwordInput">Enter Your Password:</label>
                <input id="passwordInput" type="password" name="passwordInput" ><br>
                <button type="submit">Log in</button>
            </form>
            <a href="http://localhost:3000/register">Click here to register!</a>
        </div>