<form method="POST" action="" id="accept-offer-form">
                <label for="acceptOfferInput">Confirm to take offer</label>
                <input id="acceptOfferInput" type="checkbox" name="acceptOfferInput" value="True" required><br><br>
                <button type="submit" >Take Offer</button>
                </form>