<h1>Price Chart Search</h1>
<p>Get game details from Price Charts</p>
                <form method="POST" id="search-form" action="">
                <label for="searchInput">Input the Game Title:</label><br>
                <textarea id="searchInput" type="text" name="searchInput" required></textarea><br>

                <label for="listingTypeInput">Listing type:</label>
                <select id="listingTypeInput" name="listingTypeInput" required>
                    <option value="">Select a state</option>
                    <option value="Buy">Buying</option>
                    <option value="Sell">Selling</option>
                </select><br><br>
                <button type="submit">Submit</button>
                </form>
                <p id="errorSearch" hidden></p>
                        <script type='module' src="../public/js/searchCheck.js"></script>
                {{#if error}}
                <p>{{error}}</p>
                {{else}}
                {{/if}}