<h1>Price Chart Search</h1>
<p>Get game details from Price Charts</p>
                <form method="POST" id="search-form" action="">
                <label for="searchInput">Search for a game:</label><br>
                <textarea id="searchInput" type="text" name="searchInput"></textarea><br>
                <button type="submit">Submit</button>
                </form>
                <a href="/createListing">Click here to skip gathering data.</a>
                <p id="errorSearch" hidden></p>
                        <script type='module' src="../public/js/searchCheck.js"></script>