<h1>Make An Offer</h1>
<form method="POST" action="" id="trade-form">
    <label for="titleInput">Title</label>
    <textarea id="titleInput" type="text" name="titleInput" required></textarea><br><br>  

    <label for="descriptionInput">Description:</label>
    <textarea id="descriptionInput" type="text" name="descriptionInput" required></textarea><br><br>    


     <button type="submit">Make Offer</button>
</form>

<p id="errorTitle" hidden></p>
<p id="errorDesc" hidden></p>