<h1>Checkout Here</h1>

<h3>Shipping Info:</h3>
<form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required>
    <br>
    <label for="city">City:</label>
    <input type="text" id="city" name="city" required>
    <br>
    <label for="zip">ZIP Code:</label>
    <input type="text" id="zip" name="zip" required>
    <br>
    <label for="country">Country:</label>
    <select id="country" name="country" required>
      <option value="">Select a country</option>
      <option value="US">United States</option>
    </select>
    <br>
    <input type="submit" value="Approve Address">
</form>

<br>

<h3>Credit Card Information:</h3>
<form>
    <label for="cardholder">Cardholder Name:</label>
    <input type="text" id="cardholder" name="cardholder" required>
    <br>
    <label for="cardnumber">Card Number:</label>
    <input type="text" id="cardnumber" name="cardnumber" required>
    <br>
    <label for="expiry">Expiration Date:</label>
    <input type="text" id="expiration" name="expiration" placeholder="MM/YY" required>
    <br>
    <label for="cvv">CVV:</label>
    <input type="number" id="cvv" name="cvv" required>
    <br>
    <input type="submit" value="Submit Payment">
</form>
<br>
<img id='creditCard' alt="Credit Cards" src="{{pic}}">