.JJ {
    text-align: center;
    text-decoration: solid; 
    text-decoration: underline;
    color: rgb(255, 255, 255);
    background-color: #8b0806; 
    text-shadow: 2px 2px 2px rgb(26, 25, 25);
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}

h1{
    text-align: center;
    text-decoration: solid; 
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}

h3{
  text-align: center;
  font-size: 150%;
  text-decoration: solid; 
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
}

.main {
    border: 2px solid black;
    margin: auto;
}

.btn-group button {
    background-color: #8b0806; 
    border: 1px solid rgb(37, 37, 37); 
    color: white;
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
  }
  
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none;
  }
  
  .btn-group button:hover {
    background-color: #520505;
  }

  #creditCard {
    width: 300px; 
    height: auto;
  }

  ul li {
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    position: absolute;
  }

.items {
  background-color: #8b0806;
  border: 15px #8b0806;
  display: inline-block;
  padding: 50px;
  margin: 20px;
}

.listing {
  list-style-type: none;
}

.item {
  font-size: 150%;
  color: rgb(255, 255, 255);
}

.itemName {
  font-size: 150%;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: solid; 
  text-decoration: underline;
  text-shadow: 2px 2px 2px rgb(26, 25, 25);
}

img {
  margin: auto;
    width:  300px;
    height: 300px;
    background-size: cover;
}

p {
  color: black;
  font-size: 150%;
}

.purchase {
  height:100px;
    width:200px;
    align-content: center;
}